<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <javaee:servlet>
    <javaee:servlet-name>proxoolServletConfigurator</javaee:servlet-name>
    <javaee:servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</javaee:servlet-class>
    <javaee:init-param>
      <javaee:param-name>xmlFile</javaee:param-name>
      <javaee:param-value>WEB-INF/classes/config/proxool.xml</javaee:param-value>
    </javaee:init-param>
    <javaee:load-on-startup>1</javaee:load-on-startup>
  </javaee:servlet>
  <javaee:servlet>
    <javaee:servlet-name>AdminProxool</javaee:servlet-name>
    <javaee:servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</javaee:servlet-class>
  </javaee:servlet>
  <javaee:servlet-mapping>
    <javaee:servlet-name>AdminProxool</javaee:servlet-name>
    <javaee:url-pattern>/adminProxool</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:filter>
    <javaee:filter-name>requestCharsetEncodingFilter</javaee:filter-name>
    <javaee:filter-class>com.trendy.fw.common.web.filter.RequestCharsetEncodingFilter</javaee:filter-class>
    <javaee:init-param>
      <javaee:param-name>forceEncoding</javaee:param-name>
      <javaee:param-value>false</javaee:param-value>
    </javaee:init-param>
    <javaee:init-param>
      <javaee:param-name>defaultEncoding</javaee:param-name>
      <javaee:param-value>UTF-8</javaee:param-value>
    </javaee:init-param>
  </javaee:filter>
  <javaee:filter-mapping>
    <javaee:filter-name>requestCharsetEncodingFilter</javaee:filter-name>
    <javaee:url-pattern>/*</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter>
    <javaee:filter-name>SsoClientAuthFilter</javaee:filter-name>
    <javaee:filter-class>com.trendy.ow.passport.sso.filter.SsoClientAuthFilter</javaee:filter-class>
    <javaee:init-param>
      <javaee:param-name>excludeURI</javaee:param-name>
      <javaee:param-value></javaee:param-value>
    </javaee:init-param>
    <javaee:init-param>
      <javaee:param-name>localLogonUrl</javaee:param-name>
      <javaee:param-value>/user/Logon.do</javaee:param-value>
    </javaee:init-param>
  </javaee:filter>
  <javaee:filter-mapping>
    <javaee:filter-name>SsoClientAuthFilter</javaee:filter-name>
    <javaee:url-pattern>/pay/*.do</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:welcome-file-list>
    <javaee:welcome-file>index.html</javaee:welcome-file>
  </javaee:welcome-file-list>
  <javaee:listener>
    <javaee:listener-class>com.trendy.ec.console.group.MessageGroupListener</javaee:listener-class>
  </javaee:listener>
  <javaee:error-page>
    <javaee:exception-type>com.trendy.fw.tools.exception.PortalServletException</javaee:exception-type>
    <javaee:location>/WEB-INF/pages/common/portal_error.jsp</javaee:location>
  </javaee:error-page>
  <javaee:error-page>
    <javaee:error-code>404</javaee:error-code>
    <javaee:location>/WEB-INF/pages/common/portal_error.jsp</javaee:location>
  </javaee:error-page>
  <javaee:error-page>
    <javaee:error-code>500</javaee:error-code>
    <javaee:location>/WEB-INF/pages/common/portal_error.jsp</javaee:location>
  </javaee:error-page>
</web-app>